.LivroBody {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  background-color: wheat;
}

.Livrobodyleft {
  width: 65%;
  justify-content: center;
}

.Livrobodyleft > div {
  text-align: left;
  padding: 1em 0em 1em 1em;
  border-left: 3px solid #0777ac;
}

.Livrobodyright {
  width: 35%;
  display: flex;
  justify-content: center;
}
.Livrobodyright img {
  width: 80%;
  padding: 3em;
}
