.LivroBodyZoom {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  margin: auto;
  background-color: wheat;
}

.LivroInfoZoom {
  width: 60%;
  justify-content: center;
  font-size: small;
}

.LivroInfoZoom > div {
  text-align: left;
  padding: 1em 0em 1em 1em;
  border-left: 3px solid #0777ac;
}

.LivroImageZoom {
  width: 40%;
  display: flex;
  justify-content: center;
}
.LivroImageZoom img {
  width: 100%;
}

.EscondeLivroSelecionadoZoom {
  visibility: hidden;
  display: none;
}

.MostraLivroSeleciondadoZoom {
  visibility: visible;
  display: block;
  font-weight: bold;
  width: 800px;
  margin: auto;
  padding: 1em;
  text-align: left;
}
