.Pesquisa {
  width: 90%;
  margin: auto;
  padding: 0.5em;
  text-align: center;
}

.Pesquisa div {
  width: 90%;
  margin: auto;
  padding: 1em;
}

.Pesquisa input[type="text"] {
  width: 400px;
  padding: 0.5em;
  margin: auto;
}

.Pesquisa button {
  width: 100px;
  cursor: pointer;
  padding: 0.5em;
}

.Pesquisa h3 {
  padding: 0.1em;
}

.Grelha {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 1em;
  max-height: 850px;
  overflow-y: scroll;
}
.ElementoGrelha {
  display: inline-grid;
  border: 1px wheat solid;
  cursor: pointer;
}

.LivroBody {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  background-color: wheat;
}

.LivroInfo {
  width: 100%;
  justify-content: center;
  font-size: small;
}

.LivroInfo > div {
  text-align: center;
  padding: 1em 0em 1em 1em;
  border-left: 3px solid #0777ac;
}

.LivroImage {
  width: 100%;
  display: flex;
  justify-content: center;
}
.LivroImage img {
  width: 100%;
}

.MostraLivroSeleciondado {
  width: 70%;
  margin: auto;
  padding: 2em;
  font-weight: bolder;
  border-top: wheat 3px solid;
  border-bottom: wheat 3px solid;
  margin-bottom: 1em;
}

.EscondeLivroSelecionadoZoom {
  visibility: hidden;
  display: none;
}

.MostraLivroSeleciondadoZoom {
  visibility: visible;
  display: block;
  font-weight: bold;
  width: 600px;
  margin: auto;
  padding: 1em;
  text-align: left;
}
.MostraLivroSeleciondadoZoom button {
  margin: 1em;
}

.PesquisaMaisCarrinho {
  width: 100%;
  margin-top: 1em;
}
.PesquisaMenuCarrinho {
  width: 50%;
  margin: 1em;
  float: left;
}
.Carinho {
  display: block;
  visibility: visible;
  width: 300px;
  background-color: wheat;
  border: 2px solid white;
  text-align: left;
  font-size: 0.8em;
  padding: 0.5em;
  float: right;
}
.EscondeCarrinho {
  display: none;
  visibility: hidden;
}

.TopCarinho {
  box-sizing: border-box;
  height: 4em;
  display: flex;
  font-weight: bolder;
  flex-direction: row;
}

.NomeCarinho {
  color: #282c34;
  flex: 9;
  border-bottom: 3px solid white;
}

.CancelaCarrinho {
  color: wheat;
  background-color: black;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  cursor: pointer;
  height: 2em;
}

.PesquisaMenuCarrinho {
  width: 50%;
  margin: 1em;
}

.PesquisaMaisCarrinho::after {
  content: "";
  clear: both;
  display: table;
}

.ListaCarrinho {
  box-sizing: content-box;
  padding-top: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.ItemCarrinho {
  box-sizing: border-box;
  padding: 0.5em;
  width: 100%;
  height: 4em;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
  border: #0777ac double;
}

.RemoveItem {
  color: wheat;
  background-color: #0777ac;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  cursor: pointer;
}

.ItemText {
  color: #282c34;
  flex: 9;
}

.Total {
  margin: 1em;
  text-align: right;
  font-weight: bolder;
}

.Totalbutton {
  text-align: center;
  margin: 0.5em 0 0.5em 0;
  height: 3em;
  width: 100%;
}
